<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ruya.Configuration" version="1.0.292.303" targetFramework="net46" />
  <package id="Ruya.Core" version="1.0.279.298" targetFramework="net46" />
  <package id="Ruya.Diagnostics" version="1.0.281.300" targetFramework="net46" />
  <package id="Ruya.Security" version="1.0.284.301" targetFramework="net46" />
</packages>