<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="defaultConfiguration" type="Ruya.Configuration.ConfigurationSetting, Ruya.Configuration"/>
    <section name="domainConfiguration" type="Ruya.Domain.DomainConfigurationSetting, Ruya.Domain"/>
    <section name="domainConfigurationEncrypted" type="Ruya.Domain.DomainConfigurationSetting, Ruya.Domain"/>
  </configSections>
  
  <domainConfiguration configSource="DomainConfiguration.config"/>
  <domainConfigurationEncrypted configSource="DomainConfiguration.Encrypted.config"/>

  <appSettings>
    <add key="defaultKey" value="defaultValue"/>
  </appSettings>
  
  <configProtectedData>
    <providers>
      <add name="TripleDesConfigurationProvider"
           type="Ruya.Configuration.TripleDesProtectedConfigurationProvider, Ruya.Configuration"
           token="AFB2423EA5C8C287BE7E26A1BA97E94FF0083A935F784C40X14E6BA6928E490C7" />
    </providers>
  </configProtectedData>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
