<?xml version="1.0" encoding="utf-8" ?>
<domainConfigurationEncrypted xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\Ruya.Domain\ConfigurationSettings\DomainConfiguration.Encrypted.xsd">
  <passwords>
    <add name="ftp" value="12b3"/>
    <add name="sql" value="45a6"/>
  </passwords>
</domainConfigurationEncrypted>