<?xml version="1.0" encoding="utf-8" ?>

<!-- For more information on using transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
    In the example below, the "Replace" transform will replace the entire 
    <customErrors> section of your web.config file.
    Note that because there is only one customErrors section under the 
    <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
    <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.diagnostics>
    <sources>
      <source name="Ruya.Host" xdt:Locator="Match(name)">
        <listeners>
          <!--<add name="email" xdt:Transform="Insert" type="Ruya.Diagnostics.EmailTraceListener, Ruya.Diagnostics"
                traceOutputOptions="LogicalOperationStack" 
               toAddress="cilerler@hotmail.com"
               fromAddress="ruya.host@ilerler.com"
               subject="Ruya Error Notification"
               smtpServer="127.0.0.1"
               smtpPort="25"
               userName=""
               password=""
               useSSL="false">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
          </add>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="default" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" value="Verbose" />
    </switches>
    <sharedListeners>
      <!-- <add name="webPage" type="System.Web.WebPageTraceListener, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"> -->
      <!-- <add name="default" type="System.Diagnostics.DefaultTraceListener" traceOutputOptions="DateTime, LogicalOperationStack"> -->
      <!-- <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="LogicalOperationStack"> -->
      <!-- <add name="event" type="System.Diagnostics.EventLogTraceListener" initializeData="Ruya" traceOutputOptions="DateTime, LogicalOperationStack, ProcessId, ThreadId, Callstack, Timestamp"> -->
      <!-- <add name="textWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceLog.txt" traceOutputOptions="DateTime, LogicalOperationStack"> -->
      <!-- <add name="delimitedList" type="System.Diagnostics.DelimitedListTraceListener" initializeData="TraceLog.csv" traceOutputOptions="DateTime, LogicalOperationStack" delimiter=","> -->
      <!-- <add name="xmlWriter" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Tracelog.xml" traceOutputOptions="DateTime, LogicalOperationStack, ProcessId, ThreadId, Callstack, Timestamp"> -->
      <!-- <add name="GlimpseListener" type="Glimpse.Core.TraceListener, Glimpse.Core"> -->
      <!-- <add name="console" type="Ruya.Diagnostics.TraceListeners.CustomDelimitedListTraceListener, Ruya.Diagnostics" traceOutputOptions="LogicalOperationStack" delimiter="," limit="true">-->
      <!-- <add name="customDelimitedList" type="Ruya.Diagnostics.TraceListeners.CustomDelimitedListTraceListener, Ruya.Diagnostics" traceOutputOptions="DateTime, LogicalOperationStack" delimiter="," rollSize="4194304" initializeData="TraceLog.csv"> -->
      <add name="rollingXmlWriter" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" initializeData=".\_logs\TraceLog.svclog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
