<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="domainConfiguration" type="Ruya.Domain.DomainConfigurationSetting, Ruya.Domain" />
    <section name="domainConfigurationEncrypted" type="Ruya.Domain.DomainConfigurationSetting, Ruya.Domain" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ruya.Host.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="false" />
    <sources>
    <source name="Ruya.Host" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
    <source name="Ruya.Diagnostics" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
    <source name="Ruya.Scheduler" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="Ruya.SignalR" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
    <source name="Ruya.Configuration" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="Ruya.Composition" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
    <source name="Ruya.Domain" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="Ruya.IO" switchName="default" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="System.IO" switchName="system" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="System.Net" switchName="system" switchType="System.Diagnostics.SourceSwitch">
        <!-- switchValue="ActivityTracing, Error, Critical"> -->
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>

      <source name="SignalR.SqlMessageBus">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.ServiceBusMessageBus">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.RedisMessageBus">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.ScaleoutMessageBus">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.Transports.WebSocketTransport">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ServerSentEventsTransport">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.Transports.ForeverFrameTransport">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.Transports.LongPollingTransport">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.Transports.TransportHeartBeat">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
      <source name="SignalR.ReflectedHubDescriptorProvider">
        <listeners>
          <add name="rollingXmlWriter" />
          <add name="signalRWriter" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="default" value="All" />
      <add name="system" value="Off" />
      <add name="SignalRSwitch" value="Off" />
    </switches>
    <sharedListeners>
    <add name="rollingXmlWriter" type="Ruya.Diagnostics.TraceListeners.RollingXmlWriterTraceListener, Ruya.Diagnostics" initializeData="C:\inetpub\wwwroot\traceViewer\TraceLog.svclog" rollSize="1048576" traceOutputOptions="DateTime, LogicalOperationStack, ProcessId, ThreadId, Timestamp">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
      <add name="signalRWriter" type="Ruya.SignalR.SignalRTraceListener, Ruya.SignalR" initializeData="notify" traceOutputOptions="DateTime, LogicalOperationStack, ProcessId, ThreadId, Timestamp">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
  </system.diagnostics>

  <configProtectedData>
    <providers>
      <add name="TripleDesConfigurationProvider" type="Ruya.Configuration.TripleDesProtectedConfigurationProvider, Ruya.Configuration" token="AFB2423EA5C8C287BE7E26A1BA97E94FF0083A935F784C40X14E6BA6928E490C7" />
    </providers>
  </configProtectedData>

  <domainConfiguration configSource="DomainConfiguration.config" />
  <domainConfigurationEncrypted configSource="DomainConfiguration.Encrypted.config" />

  <applicationSettings>
    <Ruya.Host.Properties.Settings>
      <setting name="ServerAddress" serializeAs="String">
        <value>http://localhost:8080/</value>
      </setting>
      <setting name="JobInterval" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="JobMaxSkipAllowed" serializeAs="String">
        <value>5</value>
      </setting>
    </Ruya.Host.Properties.Settings>
  </applicationSettings>
</configuration>
