<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.diagnostics>
    <sources>
      <source name="Ruya.Host" xdt:Locator="Match(name)">
        <listeners>
          <remove name="Default" xdt:Transform="Insert" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="rollingXmlWriter" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" initializeData=".\_logs\TraceLog.svclog" >
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>