<?xml version="1.0" encoding="utf-8" ?>
<domainConfigurationEncrypted xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\Ruya.Domain\ConfigurationSettings\DomainConfiguration.Encrypted.xsd">
  <passwords>
    <add name="admin" value="()"/>
  </passwords>
</domainConfigurationEncrypted>