<?xml version="1.0" encoding="utf-8" ?>
<domainConfiguration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <encryptedSections>
    <add name="domainConfigurationEncrypted" description="Encrypted Domain Configuration (Debug)" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </encryptedSections>
</domainConfiguration>