<?xml version="1.0" encoding="utf-8" ?>
<domainConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\Ruya.Domain\ConfigurationSettings\DomainConfiguration.xsd">
  <encryptedSections>
    <add name="domainConfigurationEncrypted" description="Encrypted Domain Configuration" />
  </encryptedSections>
</domainConfiguration>